.navBar {
    margin-top: 0px;
    margin-bottom: 3px;
    background-color: #171717;
    color: white;
    box-shadow: 0px 5px 5px #171717;
    font-family: Inter;
    padding-top: 4px;
    text-shadow: 2px 2px 10px black;
  }
    .navOptions {
    margin-top: 0px;
    color: white;
    font-family: Inter;
    padding: 5px;
    padding-top: 6px;
    font-size:0.75em;
    text-shadow: 2px 2px 10px black;
  }
    .Header {
    margin-top: 0px;
    background-image: linear-gradient(to right, #ff458a, #00a5f8);
    box-shadow: 0px 5px 5px #171717;
    text-align: center;
    font-family: Staatliches;
    padding: 12px;
    text-shadow: 2px 2px 10px black;
  }
    .Subtitle {
    margin-top: 5px;
    text-align: center;
    font-family: Inter;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
    color: white;
  }
  .Names {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Bitter;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1.2em;
  }
  .Paragraph {
    margin-top: 0em;
    font-family: Bitter;
    padding: 0px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1em;
  }
  .Titles {
    margin-top:5px;
    margin-left:50px;
    margin-right:50px;
    font-family: Bitter;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1.5em;
  }