    .Header {
    margin: 2em;
    padding: 2em;
    background-image: linear-gradient(to right,#ff458a,#171717 ,#00a5f8 );;
    box-shadow: 0px 5px 5px #171717;
    text-align: center;
    font-family: Staatliches;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
    .Subtitle {
    margin-top: 5px;
    text-align: center;
    font-family: Inter;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
    color: white;
  }
  .Names {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Bitter;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1.2em;
  }
  .Paragraph {
    margin-top: 0em;
    font-family: Bitter;
    padding: 0px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1em;
  }
  .Titles {
    margin-top:5px;
    margin-left:50px;
    margin-right:50px;
    font-family: Bitter;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1.5em;
  }
  .dropShadow {
    box-shadow: 0px 5px 5px #171717;
  }

  .merchImages {
    width:25%;
    height:25%;
    box-shadow: 0px 5px 5px #171717;
  }

  @keyframes breatheAnimation {
    0%   {background-color: #303030;}
    25%   {background-color: #202020;}
    50%  {background-color: #171717;}
    75%   {background-color: #202020;}
    100% {background-color: #303030;}
  }
  
  /* The element to apply the animation to */
  .breathe {
    height: 100%;
    
    background-size: cover;
    animation-name: breatheAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
  }

  .centerimg {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
  }

  .active a{
    color: #ff458a !important;
  }