
    html {
      scroll-behavior: smooth;
     }

    .Header {
    padding: 2em;
    position: relative;
    width:100%;
    margin-bottom: 30px;
    background-image: linear-gradient(to right,#ff458a,#171717,#00a5f8 );;
    text-align: center;
    font-family: Staatliches;
    color: white;
    box-shadow: 0px 5px 5px #171717;
  }

    .Subtitle {
    margin-top: 5px;
    text-align: center;
    font-family: Inter;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
    color: white;
  }
  .Names {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Bitter;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1.2em;
  }
  .Paragraph {
    margin-top: 0em;
    font-family: Bitter;
    padding: 0px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1em;
  }
  .Titles {
    font-family: Bitter;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-size:1.5em;
  }
  .dropShadow {
    box-shadow: 0px 5px 5px #171717;
  }

  .merchImages {
    width:22%;
    height:22%;
    box-shadow: 0px 5px 5px #171717;
  }

  .successButton {
    background-color:#ff458a;
    border-radius: 15px;
    box-shadow: 0px 5px 5px #171717;
    font-size:1.5em;
    padding:5px;
    padding-top:8px;
    padding-bottom:8px;
    margin-left:10px;
}

  a.successButton:hover{
  box-shadow: 0px 5px 10px #171717;
  text-decoration:none;
  color:white;
  }
/* This is the cart button animation stuff */
  a.cartButton {
    background: linear-gradient(90deg, #00a5f8, #ff458a);
    padding:5px;
    border-radius:7px;
    background-size: 400%;
  }

  a.cartButton:link, a.cartButton:visited {
    text-decoration: none;
    color: white;
  }

  a.cartButton:hover {
    text-decoration: none;
    color: white;
  }

 a.cartButton:hover {
    animation: cartanimation 8s linear infinite;
  }

  @keyframes cartanimation {
    0% {background-position: 0%;}
    100% {background-position: 400%;}
  }

  a.cartButton:before {
    content: '';
    z-index: -1;
    background: linear-gradient(90deg, #00a5f8, #ff458a);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
  }


  a.cartButton:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }


  @keyframes breatheAnimation {
    0%   {background-color: #303030;}
    25%   {background-color: #202020;}
    50%  {background-color: #171717;}
    75%   {background-color: #202020;}
    100% {background-color: #303030;}
  }
  
  /* The element to apply the animation to */
  .breathe {
    height: 100%;
    
    background-size: cover;
    animation-name: breatheAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
  }

  .centerimg {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
  }

  .active a{
    color: #ff458a !important;
  }


  select {
    background-color:#ff458a;
    color:white;
    font-size:20px;
    transition-duration: 0.5s;
    font-family: Bitter;
    text-shadow: 1px 1px 5px black;
    border-radius: 6px;
  }


  select:hover {
  background-color:#00a5f8;

  }

  .fixed-footer {
  overflow: hidden;
  list-style: none;
  background-color:#121212;
  position: relative;
  bottom: 0;
  width: 100%;
}

a.aboutlinks:link, a.aboutlinks:visited {
    text-decoration: none;
    color:#ff458a;
}

a.aboutlinks:hover, a.aboutlinks:active {
    text-decoration: none;
    color:#00a5f8;
}

   .footer-icons-red {
      margin-left: 8px;
      color:#ff458a;
      font-size:1em;
      position:absolute;
      top:4px;
      transition-duration: 0.3s;
    }

   .footer-icons-red:hover {
      color:#91274f;
    }

   .footer-icons-blue {
      margin-right: 8px;
      color:#00a5f8;
      font-size:1em;
      position:absolute;
      top:4px;
      transition-duration: 0.3s;
    }

   .footer-icons-blue:hover {
      color:#0075b0;
    }

body::-webkit-scrollbar {
  width: 19px; /* width of the entire scrollbar */
               
}
body::-webkit-scrollbar-track {
  background: white; /* color of the track that the scrollbar moves on */
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg,#00a5f8, #ff458a); /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb (the thing that moves) */
  border: 3px solid white; /* creates a white border around scroll thumb */
}
        li.aboutkevin:before {
        content: '\1F47D';
        margin-left: -20px;
        margin-right: 10px;
        }

        li.aboutabhijay:before {
        content: '\1F92F';
        margin-left: -20px;
        margin-right: 10px;
        }

        li.aboutpaul:before {
        content: '\1F30C';
        margin-left: -20px;
        margin-right: 10px;
        }

        li.abouttravis:before {
        content: '\1F924';
        margin-left: -20px;
        margin-right: 10px;
        }

        li.aboutgavin:before {
        content: '\1F4A6';
        margin-left: -20px;
        margin-right: 10px;
        }

        ul.aboutlists {
        list-style-type: none;
        }

        iframe {
        border: 0.2em solid #ff458a;
        }
.text-box {
  width:30%;
  padding-top:5px;
  padding-left:4px;
  padding-bottom:10px;
  word-wrap: break-word;
  float:right;
  margin-right:10%;
  top:89%;
}

.commentary {
border: 0.2em solid #ff458a;
}