{% extends "base1.html" %}

{% block about %}

<center>

    <div class="dropShadow"> <!-- banner -->
        <img style="margin-top:100px;min-width:100%;width:100%;height:auto"src="{{url_for('static', filename='images/apcoxggbannercrop.jpg')}}" alt="channel art" width=relative>
    </div>

</center>


<center>
    <div style="margin-top:0em" class="Header">
        <h1 class="products" style="font-size:4em;">Products</h1>
        <p style="font-size:2em" class="Paragraph">Get one before they are all gone!</p>
    </div>


    {% endblock %}