{% extends "base-productview.html" %}
{% block productname %}AC Hoodie{% endblock %}
{% block productimage %}{{url_for('static', filename='images/apco/apcohoodieback.jpg')}}{% endblock %}
{% block fifthstar %}color:grey;{% endblock %}
{% block fourthstar %}color:white;{% endblock %}

{% block desc %}This limited edition zip up hoodie with the unique but true Albertpani colors and designs. This hoodie features hints and spots of Albertpani pink along with charcoal black for the hoodie. The high quality zip-up hoodie is very hip with the kids according to John Sterling. The hoodie has the Albertpani company logo which goes with the perfect font and big letters on the back. The front has nice small lettering that says Albertpani in the perfect size and beautiful pink color. The hood is made from wool from the shepp is dyed pink to match the bottom of the sweatshirt. This limited edition hoodie is available for limited time for only $40.{% endblock %}

