{% extends "base-productview.html" %}
{% block productname %}AC Main{% endblock %}
{% block productimage %}{{url_for('static', filename='images/apco/tshirt mockup.jpg')}}{% endblock %}
{% block fifthstar %}color:grey;{% endblock %}
{% block fourthstar %}color:grey;{% endblock %}

{% block desc %}This brand new Albertpani collection from the hit youtube channel Albertpani is one of a kind. This shirt is called AC-main for Albertpani. THe design features bubbles around and through the letters to give the true Albertpani feel. On the front of this limited time shirt. It has a small font that reads, APCO. The Albertpani abbreviation. The back of the shirt is the main attraction and features a large full shirt print with APCO print along with the pink bubbles. This design was imagined by the Owner of Albertpani Company - Kevin Do himself. The best part of this amazing shirt with this amazing deisgn? Its only $25{% endblock %}