{% extends "base1.html" %}

{% block products %}
<center>

    <div class="dropShadow"> <!-- banner -->
        <img style="margin-top:100px;min-width:100%;width:100%;height:auto"src="{{url_for('static', filename='images/apcoxggbannercrop.jpg')}}" alt="channel art" width=relative>
    </div>

    </center>


    <center>
    <div style="margin-top:0em" class="Header">
        <h1 style="font-size:4em">Products</h1>
        <p style="font-size:2em" class="Paragraph">Get one before they are all gone!</p>
    </div>

    <div style="padding-top: 3em; padding-left:4em;padding-right:4em">
        <a href="ACHoodie"><img class="merchImages" src="{{url_for('static', filename='images/apco/apcohoodieback.jpg')}}" alt="hoodie"></a>
        <a href="ACMain"><img class="merchImages" src="{{url_for('static', filename='images/apco/tshirt mockup.jpg')}}" alt="shirt"></a>
        <img href="#" class="merchImages" src="{{url_for('static', filename='images/gg/ggshirts.jpg')}}" alt="shirt">
        <img class="merchImages" src="{{url_for('static', filename='images/apco/tshirt mockup.jpg')}}" alt="shirt">
    </div>
{% endblock %}