
{% extends "base1.html" %}
{% block products %}

    <center>

    <div class="dropShadow"> <!-- banner -->
        <img style="margin-top:100px;min-width:100%;width:100%;height:auto"src="{{url_for('static', filename='images/apcoxggbannercrop.jpg')}}" alt="channel art" width=relative>
    </div>

    </center>


    <center>
    <div style="margin-top:0em" class="Header">
        <h1 class="products" style="font-size:4em;">Products</h1>
        <p style="font-size:2em" class="Paragraph">Get one before they are all gone!</p>
    </div>

    <div style="padding-top: 3em; padding-left:4em;padding-right:4em">
        <a href="APCOSuperstar"><img class="merchImages" src="{{url_for('static', filename='images/apco/apco_superstar.jpg')}}" alt="shoe"></a>
        <a href="APCOFluid"><img class="merchImages" src="{{url_for('static', filename='images/apco/tshirt mockup.jpg')}}" alt="shirt"></a>
        <a href="GGSuperstar"><img class="merchImages" src="{{url_for('static', filename='images/gg/gg_superstar.jpg')}}" alt="shoe"></a>
        <a href="GGFireworks"><img class="merchImages" src="{{url_for('static', filename='images/gg/ggshirts.jpg')}}" alt="shirt"></a>
    </div>
    </center>


    <div style="margin-top:5%">

    </div>

{% endblock %}
