{% extends "base-productview.html" %}
{% block productname %}APCO Adidas Superstars{% endblock %}
{% block productimage %}{{url_for('static', filename='images/apco/apco_superstar.jpg')}}{% endblock %}
{% block fifthstar %}color:white;{% endblock %}
{% block fourthstar %}color:white;{% endblock %}
{% block reviewcount %}420{% endblock %}

{% block desc %}This limited edition APCO Adidas Superstar features the unique but true Albertpani colors and designs. This shoe features the color palette of Albertpani:
pink, charcoal gray, and white. The high quality shoe is "very hip with the kids" according to John Sterling. The shoe was created in collaboration with Adidas. Only 50 pairs of
this special shoe has been hand-crafted for loyal supporters of Albertpani Compani. These limited edition kicks are available for a limited time at a price of $105.{% endblock %}
