{% extends "base-productview.html" %}
{% block productname %}APCO Fluid Tee{% endblock %}
{% block productimage %}{{url_for('static', filename='images/apco/tshirt mockup.jpg')}}{% endblock %}
{% block fifthstar %}color:white;{% endblock %}
{% block fourthstar %}color:white;{% endblock %}
{% block reviewcount %}1073{% endblock %}

{% block desc %}This fluid gradient design from the Albertpani collection reveals the true creativity in Albertpani's Compani. The design features fluid bubbles around and through
the letters to give the true Albertpani feel. The back of the shirt is the main attraction and features a large full shirt print of the delicious design. This design was
imagined by the owner of Albertpani Compani - Kevin Do himself. The best part of this amazing shirt with this amazing design? It's only $25!{% endblock %}