
{% extends "base1.html" %}


{% block products %}

<center>

    <div class="dropShadow"> <!-- banner -->
        <img style="margin-top:100px;min-width:100%;width:100%;height:auto" width=relative>
    </div>

</center>

<center>
    <div style="margin-top:2em" id="products" class="Header">
        <h1 style="font-size:4em;">Purchasing Options</h1>
        <p style="font-size:2em" class="Paragraph">Thank you for purchasing!</p>
    </div>
</center>
    <div style="padding-top: 3em; padding-left:25em;">
        <p style="color:white;font-size:1.5em">1. Contact Options<br>_____________<br>2. Shipping Address<br>_____________<br>3. Shipping Options><br>_____________<br>4. Billing Address<br>_____________<br>5. Secure Payment<br>_____________<br</p>
        <!--
        <p style="color:white;font-size:3em">2. Shipping Address</p>
        <p style="color:white;font-size:3em">3. Shipping Options</p>
        <p style="color:white;font-size:3em">4. Billing Address</p>
        <p style="color:white;font-size:3em">5. Secure Payment</p>
        -->
        
    </div>


<center>
    <div style="margin-top:3em" id="products" class="Header">
        <h1 style="font-size:4em;">Enjoy!</h1>
        <p style="font-size:2em" class="Paragraph">Enjoy your new GG X APCO merch!</p>
    </div>

</center>


<div style="margin-top:5%">

</div>

{% endblock %}
