
{% extends "base1.html" %}


{% block products %}

<center>

    <div class="dropShadow"> <!-- banner -->
        <img style="margin-top:100px;min-width:100%;width:100%;height:auto" width=relative>
    </div>

</center>

<center>
    <div style="margin-top:2em" class="Header">
        <h1 style="font-size:4em;">Purchasing Options</h1>
        <p style="font-size:2em" class="Paragraph">
            <i class="fa fa-cc-paypal"></i>
            <i class="fa fa-cc-visa"></i>
            <i class="fa fa-cc-mastercard"></i>
            <i class="fa fa-cc-amex"></i>
        </p>
    </div>
</center>
    <div style="padding-top: 3em; padding-left:25em;">
        <h1 class="Titles" style="color:white;font-size:2em">
            1. Contact Options<br>
            2. Shipping Address<br>
            3. Shipping Options<br>
            4. Billing Address<br>
            5. Secure Payment<br>
        </h1>
    </div>

<div style="margin-top:5%">

</div>

{% endblock %}
