{% extends "base-productview.html" %}
{% block productname %}GG Firework Tee{% endblock %}
{% block productimage %}{{url_for('static', filename='images/gg/ggshirts.jpg')}}{% endblock %}
{% block fifthstar %}color:gray;{% endblock %}
{% block fourthstar %}color:gray;{% endblock %}
{% block thirdstar %}color:gray;{% endblock %}
{% block reviewcount %}35{% endblock %}

{% block desc %}This firework design from the Godly Goats collection reveals the joyful and good attitude of the Godly Goats YouTube Chanel. Around the logo are beautiful blue
fireworks, which are perfect for your July 4th gathering or your New Years Celebration! The back of the shirt features an important saying in gaming, GG, which means good game.
This design was inspired by the owner of Godly Goats - Abhijay Deevi himself. And here's the best part: it's only $25!{%endblock %}