{% extends "base-productview.html" %}
{% block productname %}GG Adidas Superstars{% endblock %}
{% block productimage %}{{url_for('static', filename='images/gg/gg_superstar.jpg')}}{% endblock %}
{% block fifthstar %}color:gray;{% endblock %}
{% block fourthstar %}color:white;{% endblock %}
{% block reviewcount %}102{% endblock %}

{% block desc %}This limited edition GG Adidas Superstar was created by the same designer who created the APCO Adidas Superstar. This shoe features the color palette of
Godly Goats: blue, charcoal gray, and white. The shoe was created in collaboration with Adidas. Only 100 pairs of this special shoe has been hand-crafted for the subscribers of
Godly Goats. These limited edition kicks are available for a limited time at a price of $105.{% endblock %}
