
{% extends "base1.html" %}


{% block products %}


<center>

    <div class="dropShadow"> <!-- banner -->
        <img style="margin-top:100px;min-width:100%;width:100%;height:auto" src="{{url_for('static', filename='images/apcoxggbannercrop.jpg')}}" width=relative>
    </div>

</center>

<center>
    <div style="margin-top:0em" id="products" class="Header">
        <h1 style="font-size:4em;">All Products</h1>
        <p style="font-size:2em" class="Paragraph">Every single merch design!</p>
    </div>

    <div style="padding-top: 3em; padding-left:4em;padding-right:4em">
        <a href="APCOSuperstar"><img class="merchImages" src="{{url_for('static', filename='images/apco/apco_superstar.jpg')}}" alt="shoe"></a>
        <a href="APCOFluid"><img class="merchImages" src="{{url_for('static', filename='images/apco/tshirt mockup.jpg')}}" alt="shirt"></a>
        <a href="GGSuperstar"><img class="merchImages" src="{{url_for('static', filename='images/gg/gg_superstar.jpg')}}" alt="shoe"></a>
        <a href="GGFireworks"><img class="merchImages" src="{{url_for('static', filename='images/gg/ggshirts.jpg')}}" alt="shirt"></a>
    </div>
</center>

<center>
    <div style="padding-top: 0.25em; padding-left:4em;padding-right:4em">
        <a href="APCOFluid"><img class="merchImages" src="{{url_for('static', filename='images/apco/tshirt mockup.jpg')}}" alt="shirt"></a>
        <a href="APCOSuperstar"><img class="merchImages" src="{{url_for('static', filename='images/apco/apco_superstar.jpg')}}" alt="shoe"></a>
        <a href="GGFireworks"><img class="merchImages" src="{{url_for('static', filename='images/gg/ggshirts.jpg')}}" alt="shirt"></a>
        <a href="GGSuperstar"><img class="merchImages" src="{{url_for('static', filename='images/gg/gg_superstar.jpg')}}" alt="shoe"></a>

    </div>

</center>

<center>
    <div style="padding-top: 0.25em; padding-left:4em;padding-right:4em">
        <a href="APCOFluid"><img class="merchImages" src="{{url_for('static', filename='images/apco/tshirt mockup.jpg')}}" alt="shirt"></a>

        <a href="GGFireworks"><img class="merchImages" src="{{url_for('static', filename='images/gg/ggshirts.jpg')}}" alt="shirt"></a>
        <a href="APCOSuperstar"><img class="merchImages" src="{{url_for('static', filename='images/apco/apco_superstar.jpg')}}" alt="shoe"></a>
        <a href="GGSuperstar"><img class="merchImages" src="{{url_for('static', filename='images/gg/gg_superstar.jpg')}}" alt="shoe"></a>
    </div>
</center>


<div style="margin-top:5%">

</div>




{% endblock %}
